<!DOCTYPE html>
<html ng-app="nameApp">
<head>
    <title>AngularJS V.1</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script>
        var nameApp = angular.module('nameApp', []);
        nameApp.controller('NameCtrl', function($scope){
            $scope.name = "Abdullilah";
            $scope.surname = "Alhaj Younes";
        });
    </script>
</head>
<body ng-controller="NameCtrl">

    <div>Name: <input ng-model="name" type="text"/></div>
    <div>Surname: <input ng-model="surname" type="text"/></div>
    <p>Hello: {{name}} {{surname}}</p>
    
</body>
</html>